
h1{
background-color:#E32319;
color:#191919;
text-align:center;
width:fit-content;
padding:10px;
margin-left:auto;
margin-right:auto;
-webkit-text-stroke-width:1px;
-webkit-text-stroke-color:#E6E8E6;
font-family:sans-serif;
margin-bottom:0px;
margin-top:0px;
}

body{
background-color:#191919;
}

img{
width:25%;
height:25%;
}

div{
background-color:#191919;
margin-left:auto;
margin-right:auto;
text-align:center;
}

p{
margin-left:auto;
margin-right:auto;
list-style-type: none;
animation-name:li;
width:fit-content;
padding:20px;
font-family:sans-serif;
text-align:center;
vertical-align:middle;
color:#E32319;
}


a:link{
color:#E32319;
}
a:visited{
color:#E6E8E6;
}
a:hover{
color:white;
}
a:active{
color:#CED0CE;
}