body{
    display:flex;
    flex-direction: column;
}

div{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;
    align-self:center;
}
img{
    align-self: center;
}
h1{
    align-self:center;
}

P{
    align-self:center;
    padding:20px;
}

li{
    align-self:center;
}

a{
    display:grid;
    align-self:center;
}