<!DOCTYPE html>
<html xmlns:th "http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="all" 
     href="../../css/reviewstyle.css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" type="text/css" media="all" 
     href="../../css/reviewstyle.css" th:href="@{/css/layout.css}" />
  <title>tag</title>
</head>
<body>
    <div class = 'outer' th:each = "category: ${categories}">
        <h1 th:text = "${category.name}"></h1>
        <div class = 'inner' th:each = "review: ${category.reviews}">
           <a th:href = "@{/review(id=${review.id})}" th:text = "${review.title}"> </a>
        </div>
    	<a href = "http://localhost:8080/show-categories">Back to home</a>
    </div>
    
</body>
</html>