<!DOCTYPE html>
<html xmlns:th "http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="all" 
            href="../../css/style.css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" media="all" 
            href="../../css/layout.css" th:href="@{/css/layout.css}" />
    <title>review</title>
</head>
<body>
    <div th:each = "review: ${reviews}">
        <h1 th:text = "${review.category.name} + ' ' + Review"></h1>
        <img th:src = "${review.picture}"></img>
    	<h2 th:text = "${review.title}"></h2>
    	<p th:text = "${review.body}"></p>
    	<a href = "http://localhost:8080/show-reviews">Back to home</a>
    </div>
</body>
</html>