<html xmlns:th "https://www.thymeleaf.org">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" media="all" 
      href="../../css/style.css" th:href="@{/css/style.css}" />
   <link rel="stylesheet" type="text/css" media="all" 
      href="../../css/layout.css" th:href="@{/css/layout.css}" />
   <title> reviews </title> 
</head>
<body>
 
   <h1> Reviews </h1>

   
   <div th:each = "review: ${reviews}">
   		<li> 
   		<p th:text = "${review.category.name}"> </p>
   		<a th:href = "@{/review(id=${review.id})}" th:text = "${review.title}"> </a>
   		</li>
   </div>
</body>
</html>